.myRow {
    padding-bottom: 50px;
}

#bannerPic {
    padding-bottom: 20px;
    padding-top: 10px;
}

article {
    padding-top: 20px;
}
#articalBody {
    background-color: rgb(244, 224, 250);
}
.mr-3{
    border-image-width: 150px;
    
}
