.bg-company-red{
    background-color: rgb(11, 8, 14);
}
footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(11, 8, 14);
    color:white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.mr-3{
    padding-top: 20px;
}
.mt-0{
    padding-top:30px;
}
body {
    background: linear-gradient(rgb(81, 64, 97), rgb(153, 62, 161), rgb(253, 148, 248));
    /* background-repeat: no-repeat;
    background-size: cover; */
   
}